* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--light);
}

:root {
    --primary: rgb(28, 37, 75);
    --secondary: rgb(64, 72, 116);
    --light: rgb(164, 209, 235);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--primary);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

button {
    padding: 10px;
    border: none;
    background: var(--light);
    color: var(--primary);
    font-weight: bold;
    width: 5rem;
    outline: navajowhite;
}

button:hover {
    cursor: pointer;
    background: var(--primary);
    transform: 1s;
    color: var(--light);
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

.App {
    height: auto;
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
}